@import '../../../scss/index.scss';

.newsletter {
    position: relative;

    h3 {
        color: $font-light;
        font-weight: bold;
    }

    input {
        height: 30px;
        font-size: 20px;
    }

    button {
        height: 30px;
        width: 100%;
    }
}
